
body{margin:0px; font-family:Arial, "宋体"; font-size: 14px; line-height:1; color:#444; background:#fff; }
#container{margin:0 auto;overflow: hidden; overflow-y:auto; width:300px; height:255px;text-align:center; line-height:22px;}
#container{ scrollbar-face-color: #cddef1; scrollbar-highlight-color: #b8d0eb; scrollbar-shadow-color: #b8d0eb; scrollbar-3dlight-color: #ffffff; scrollbar-arrow-color: #204773; scrollbar-track-color: #f9fbfd; scrollbar-darkshadow-color: #cddef1; scrollbar-base-color: #b8d0eb;white-space:pre}
#lrc{display:none;}