/* 设置默认字体 */
body, button, input, select, textarea {
     font: 12px/1.5 tahoma, arial, "\5b8b\4f53", sans-serif;
     color:#666;
}
/* 清楚默认距离 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
    margin: 0;
    padding: 0;
}

button, input, select, textarea {	/* 使得表单元素在 ie 下能继承字体大小 */
    font-size: 100%;
    outline: none;
}
textarea {
    resize: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset, img {
    border: 0;
}

ol, ul {
    list-style: none;
}

a {
    text-decoration: none;
    color:#666;
}
a:hover {
    text-decoration: underline;
}

sup {vertical-align: text-top;} /* 重置，减少对行高的影响 */
sub {vertical-align: text-bottom;}

/* 清除浮动样式 */
.clearfix:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clearfix {
    *zoom:1;
}
.clear {
    clear:both;
    line-height: 0;
}

/* 公共样式 */
.common-white-gradient-bg {
    background: url("../images/common-white-gradient-bg.png") repeat-x;
}
.common-flowers-bg {
    background: url("../images/common-flowers-bg.png") no-repeat center 208px;
    padding-bottom: 40px;
}
body {
    background: url("../images/body-bg.png");
}
.container {
    width: 959px;
    margin: 0 auto;
}
.logo-ctn {
    padding-bottom: 8px;
}
.logo {
    float: left;
    overflow: hidden;
    text-indent: -999px;
    background: url("../../prenatal/images/logo.png") no-repeat;
    width: 99px;
    height: 27px;
    margin-top: 19px;
}
.search-ctn {
    float: left;
    display: inline;
    width: 364px;
    height: 24px;
    border: #CCC solid 1px;
    color: #CCC;
    margin: 20px 20px 0 41px;
}
.search-ctn-type {
    width: 56px;
    float: left;
    display: inline;
    position: relative;
    cursor: pointer;
}
.search-ctn-type-all {
    height: 24px;
    line-height: 24px;
    margin-left:6px;
    _margin-left:4px;
}
.search-ctn-type-all span {
    float: right;
    width: 15px;
    height: 12px;
    border-right: #CCC solid 1px;
    background: url("../../prenatal/images/common-icon.png") no-repeat -1px 0;
    margin: 6px 0 0 9px;
}
.search-ctn-type-secondary {
    display: none;
    position: absolute;
    left: -1px;
    top: 24px;
    border-left: #CCC solid 1px;
    height: 20px;
    line-height: 20px;
    width: 205px;
    _width: 208px;
}
.search-ctn-type-secondary a {
    float: left;
    color: #CCC;
    border: #CCC solid 1px;
    border-left: none;
    width: 40px;
    text-align: center;
    background: #FFF;
}
.search-ctn-type-secondary a:hover, .search-ctn-type-secondary a.current {
    color: #333;
}
.search-content {
    width: 244px;
    display: inline;
    margin: 3px 8px 0 8px;
    float: left;
}
.search-content input {
    height: 18px;
    line-height: 18px;
    border: 0;
    color: #CCC;
    width: 244px;
}
.search-ctn .button-ctn {
    float: right;
    height: 24px;
    background: #CCC;
}
.search-ctn .button-ctn button {
    width: 48px;
    height: 24px;
    color: #FFF;
    font-weight: bold;
    background: #CCC;
    border:0;
    line-height: 24px;
}
.search-ctn .button-ctn button::-moz-focus-inner{ border:0; padding:0; margin:0; }/* 解决火狐的垂直居中 */

.search-ctn .button-ctn button:hover {
    cursor: pointer;
    color: #f30;
}

/* 登录区域 */
.userbox {
    float: right;
    padding-top: 26px;
}
.userbox .user-guest {
    height: 20px;
    line-height: 20px;
    float: right;
}
.userbox .user-guest .sitelogin {
    color: #666666;
    float: left;
    padding-right: 12px;
}
.userbox .user-guest .sitelogin a {
    color: #666666;
}
.userbox .user-guest .sitelogin a.link-login {
    color: #0093E1;
    font-weight: bold;
}
.userbox .user-guest .pluginlogin {
    float: left;
    height: 20px;
    overflow: hidden;
}
.userbox .user-guest .pluginlogin .login-weibo {
    background: url("../../prenatal/images/common-icon.png") no-repeat -81px -21px;
    color: #666666;
    float: left;
    padding: 0 10px 0 20px;
}
.userbox .user-guest .pluginlogin .login-qq {
    background: url("../../prenatal/images/common-icon.png") no-repeat -81px -68px;
    color: #666666;
    float: left;
    padding: 0 10px 0 20px;
}
.userbox .user-guest .pluginlogin a.link-favor {
    float: left;
    color: #0093E1;
}
.userbox .user-login {
    float: right;
    display: none;
    height: 20px;
    line-height: 20px;
}
.userbox .user-login .user-welcome {
    color: #666666;
    float: left;
}
.userbox .user-login .user-welcome .link-username {
    color: #0090DA;
    font-weight: bold;
    margin-right: 5px;
}
.userbox .user-login .user-action {
    float: left;
    padding: 0 20px 0 10px;
    height: 20px;
    position: relative;
    z-index: 100;
    background-image: url("../../prenatal/images/common-icon.png");
    background-repeat: no-repeat;
    background-position: right -139px;
    *background-position: right -141px;
}
.userbox .user-login .user-action-arrow-up {
    background-position: right -121px;
    *background-position: right -123px;
}
.userbox .user-login .user-action a {
    color: #0093E1;
}
.userbox .user-login .user-action div {
    display: none;
    position: absolute;
    left:0;
    top:20px;
    width: 62px;
    background: #FFF;
    padding: 4px 0 8px 10px;
    border-right:#c6c6c6 solid 1px;
    border-bottom:#c6c6c6 solid 1px;
}
.userbox .user-login .user-action div a {
    display: block;
}
/* 登录区域结束 */

.buddha-menu-bg {
    background: url("../images/buddha-menu-ctn.png") no-repeat center top;
    padding-top:15px;
}
.menu {
    background: url("../images/menu-bg.png") repeat-x left top;
    height: 37px;
    width: 984px;
    margin:0 auto;
}
.menu a {
    float: left;
    width: 109px;
    height: 37px;
    color: #f6d44b;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    line-height: 34px;
}
.menu a:hover {
    background: url("../images/menu-hover.png") no-repeat;
    text-decoration: none;
    color: #401b09;
}
.menu a.current {
    background: url("../images/menu-hover.png") no-repeat;
    text-decoration: none;
    color: #401b09;
}

.banner {
    width: 959px;
    height: 417px;
    margin: 0 auto;
    background: url("../images/banner.png") no-repeat;
    box-shadow: 0 2px 4px #a7a5a5,
                2px 0 4px #a7a5a5,
                -2px 0 4px #a7a5a5;
    position: relative;
}

.calendar-bg, .calendar-ctn {
    width: 227px;
    height: 314px;
    position: absolute;
    top: 27px;
    left: 24px;
}
.calendar-bg {
    background: #FFF;
    opacity: 0.3;
    filter: alpha(opacity=30);
}
.calendar-ctn {
    padding:0 4px 0 5px;
    width: 218px;
}
.calendar-title {
    border-bottom: #855904 solid 1px;
    font-size: 14px;
    color: #845907;
    padding: 3px 0 4px;
}
.calendar-title p {float: left;padding-left: 5px;}
.calendar-title span {float: right;padding-right: 5px;}
.calendar-cont {
    border-bottom: #855904 solid 4px;
    color: #845907;
    padding: 10px 15px 15px 12px;
    height: 80px;
    overflow: hidden;
}
.calendar-cont strong {
    font-size: 96px;
    line-height: 80px;
    float: left;
}
.calendar-cont div {
    float: right;
    width: 43px;
}
.calendar-cont div i {
    display: inline-block;
    margin-top:5px;
    width: 43px;
    height: 37px;
    background-image: url("../images/calendar-pic.png");
    background-repeat: no-repeat;
}
.calendar-table {
    border: #855904 solid 1px;
    color: #FFF;
    margin-top: 2px;
}
.calendar-table-title {
    height: 26px;
    border-bottom: #855904 solid 1px;
    line-height: 24px;
}
.calendar-table-title p {
    float: left;
    padding-left: 5px;
}
.calendar-table-title span {
    float: right;
    padding-right: 5px;
    *margin-top:2px;
    _margin-top:5px;
}
.calendar-table-title span i {
    display: inline-block;
    width: 18px;
    height: 15px;
    background-image: url("../images/calendar-mini-pic.png");
    background-repeat: no-repeat;
    vertical-align: middle;
}
.calendar-table dl {
    width: 106px;
    border-right: #855904 solid 1px;
    float: left;
    height: 133px;
    overflow: hidden;
}
.calendar-table dl.calendar-table-cont-spe {
    border-right: none;
}
.calendar-table dl.calendar-table-cont-spe dt {
    text-align: right;
}
.calendar-table dl dt {
    font-size: 14px;
    font-weight: bold;
    margin: 3px 5px 0 5px;
}
.calendar-table dl dd {
    margin-left: 5px;
}
.calendar-table dl dd span {
    display: inline-block;
    margin: 2px 2px 0 0;
    *margin-right: 1px;
    _margin-right: 2px;
}

.recommendation {
    width: 959px;
    height: 279px;
    margin: 0 auto;
    background: url("../images/recommendation-bg.png");
    position: relative;
}
.recommendation-title {
    width: 164px;
    height: 225px;
    background: url("../images/recommendation-pic.png") no-repeat;
    float: left;
    position: absolute;
    left: 15px;
    top: 33px;
}
.recommendation-bg {
    position: absolute;
    background: #FFF;
    width: 748px;
    height: 237px;
    top: 13px;
    left: 198px;
    border: #ab863c solid 1px;
    opacity: 0.3;
    filter: alpha(opacity=30);
    box-shadow: 0 0 4px #ab863c;
}
.recommendation-content {
    position: absolute;
    top: 19px;
    left: 206px;
    width: 734px;
}
.recommendation-cont-title {
    border-bottom:#d39b2d solid 2px;
}
.recommendation-cont-title span {
    display: inline-block;
    background: #d39b2d;
    color: #FFF;
    font-size: 14px;
    line-height: 25px;
    height: 25px;
    padding: 0 11px;
}
.recommendation-cont-list {
    border-left: #c6a665 solid 1px;
    border-right: #c6a665 solid 1px;
}
.recommendation-cont-list ul {
    float: left;
    width: 244px;
}
.recommendation-cont-list li {
    border-bottom: #c6a665 solid 1px;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    padding:0 7px;
    color: #775107;
    font-size: 14px;
}
.recommendation-cont-list li a {
    color: #775107;
}
.recommendation-cont-list li .key {
    color: #F00;
}
.recommendation-play-all {
    display: block;
    line-height: 42px;
    font-size: 18px;
    text-decoration: underline;
    color: #69501f;
    margin: 3px 0 0 592px;
}
.recommendation-play-all i {
    float: left;
    width: 42px;
    height: 42px;
    background-image: url("../../prenatal/images/common-icon.png");
    background-repeat: no-repeat;
    background-position: -17px 0;
    margin-right: 5px;
}
.recommendation-play-all:hover i {
    background-position: -17px -170px;
}
.recommendation-play-all:hover {
    color: #fe0321;
}

.music-list-container {
    background: #FFF;
    padding-bottom: 70px;
}

.plate-container {
    margin:0 15px;
    padding-top: 19px;
}
.plate-icon {
    float: left;
    width: 188px;
    height: 304px;
    background-image: url("../images/buddha-plates.png");
    background-repeat: no-repeat;
    display: inline;
}
.plate-music {
    float: left;
    width: 734px;
    margin-left: 6px;
}

.common-music-container {
    border: #EEE solid 1px;
    border-bottom: none;
}
.common-music-container li {
    float: left;
    height: 30px;
    border-bottom: #EEE solid 1px;
    line-height: 30px;
    overflow: hidden;
    width: 239px;
    padding-right: 5px;
}
.common-music-container li input {
    float: left;
    margin: 9px 9px 0 10px;
    *margin: 5px 5px 0 5px;
}
.common-music-container li a {
    color: #775107;
    font-size: 14px;
}
.select, .play, .add {
    background-image: url("../../prenatal/images/common-icon.png");
    background-repeat: no-repeat;
    display: inline-block;
    height: 22px;
    line-height: 22px;
}
.select {
    background-position: -2px -44px;
    width: 50px;
    padding-left: 20px;
    color: #737373;
}
.play {
    background-position: -2px -68px;
    width: 36px;
    padding-left: 18px;
    color: #af6a12;
}
.add {
    background-position: -2px -92px;
    width: 56px;
    padding-left: 20px;
    color: #496a9a;
}
.plate-function {
    border: #EEE solid 1px;
    border-top: none;
    height: 54px;
}
.plate-function-check {
    float: left;
    margin: 17px 0 0 10px;
    color: #775107;
}
.plate-function-sub {
    float: right;
    padding: 16px 9px 0 0;
}
.plate-icon-mizhou {
    background-position: -2px -2px;
}
.plate-icon-jingqian {
    background-position: -192px -2px;
}
.plate-icon-classic {
    background-position: -382px -2px;
}
.plate-icon-heart {
    background-position: -572px -2px;
}
.plate-icon-fange {
    background-position: -762px -2px;
}
.plate-icon-heya {
    background-position: -952px -2px;
}
.plate-icon-xueyu {
    background-position: -1142px -2px;
}
.plate-icon-other {
    background-position: -1332px -2px;
}

/* 二级页面公用 */
.container-white-opacity-container {
    position: relative;
}
.container-white-opacity-bg {
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    background: #FFF;
    opacity: 0.6;
    filter: alpha(opacity=60);
}
.secondary-banner {
    position: relative;
}
.secondary-banner a {
    position: absolute;
    left: 189px;
    top:48px;
    color: #80590c;
}
.secondary-banner img {
    display: block;
}
.secondary-content-container {
    position: relative;
    z-index: 2;
    padding: 12px 10px 20px;
}
.secondary-music-container {
    border: #e2e1e2 solid 1px;
    border-bottom: none;
}
.secondary-music-container li {
    width: 229px;
    border-bottom: #e2e1e2 solid 1px;
}
.secondary-plate-function-sub {
    text-align: center;
    padding: 12px 0;
}
.cPages {
    height: 32px;
    overflow: hidden;
    padding-top: 8px;
    text-align: center;
    width: 100%;
}
.cPages ul {
    float: left;
    left: 50%;
    position: relative;
}
.cPages ul li {
    float: left;
    font-family: Tahoma,Geneva,sans-serif;
    line-height: 18px;
    margin: 2px;
    position: relative;
    right: 50%;
    white-space: nowrap;
}
.cPages ul li a {
    border: 1px solid #ddd;
    color: #666666;
    float: left;
    height: 18px;
    overflow: hidden;
    padding: 0 6px;
}
.cPages ul li a:hover {
    background: none repeat scroll 0 0 #FFFFDD;
    border: 1px solid #ccc;
    color: #775107;
    text-decoration: none;
}
.cPages ul li span {
    border: 1px solid #DDDDDD;
    color: #BBBBBB;
    float: left;
    height: 19px;
    padding: 0 6px;
}
.cPages ul li.thispage a, .cPages ul li.thispage a:hover {
    background:#775107;
    border: 1px solid #ddd;
    color: #FFFFFF;
    font-weight: bold;
}
.cPages {
	padding: 20px 0;
	overflow: hidden;
}
.cPages ul {
	float: left;
	position: relative;
	left: 50%;
}
.cPages li {
	float: left;
	position: relative;
	right: 50%;
}
.cPages li a {
	display: inline-block;
	margin:0 2px;
	height: 20px;
	line-height: 20px;
	border: #775107 solid 1px;
	padding: 0 6px;
	color: #775107;
}
.cPages li a:hover, .cPages li.thispage a {
	color: #FFF;
	background: #775107;
	text-decoration: none;
}


.recommendation-cont-title .dark { background: #D8B365; color: #4F3502; }
.recommendation-cont-title .dark:hover { background: #d39b2d; color: #000; }
.songlist { display: block; }
.albumlist { display: none; }
.albumlist li { float: left; width: 98px; height: 90px; margin: 5px 5px 5px 0 }
.albumlist li img { width: 80px; height: 80px; display: block; border: 1px solid 1px solid #D3AE60; }
.albumlist li .singer { display: block; }
.albumlist li .album { display: block; }
.banner .share { position: absolute; bottom: 10px; margin-left: 25px; color: #fff; }
.banner .share #bdtext { color: #d39b2d; }
.banner .share a { color: #fff; }
.albums { display: block; width: 1000px; margin-left: -8px }
.albums li { float: left; width: 128px; height: 160px; margin: 10px 0 5px 10px }
.albums li img { width: 100px; height: 100px; display: block; border: 1px solid 1px solid #D3AE60; }
.albums li .singer { display: block; }
.albums li .album { display: block; }


.sub-menu { display: table; }
.sub-menu .share { float: left; }
.sub-menu .share #bdtext { color: #666; float: left; line-height: 32px; }
.sub-menu .share #bdshare { float: left; }
.sub-menu .share a { color: #6F4800; }
.sub-menu .sort { float: right; line-height: 32px; color: #666; }
.sub-menu .sort a { padding: 2px 5px; border: 1px solid #ddd; background: #efefef; color: #98702A; font-weight: bold; }
.sub-menu .sort a:hover { border: 1px solid #f60; background: #eee; color: #f60; }
.sub-menu .sort a.current { border: 1px solid #f60; background: #eee; color: #f60; }


.page-play {
    width: 100%;
    padding: 0px 30px;
    background: transparent;
}
.page-play .box-head {
    width: 900px;
    padding-top: 10px;
}
.page-play .box-body {
    width: 900px;
}
.page-play .box-head .title {
    float: left;
    height: 29px;
    line-height: 29px;
    font-size: 14px;
    font-weight: bold;
}
.page-play .box-head .title h3 {
    font-size: 14px;
    font-weight: bold;
}
.page-play .box-body .box-left .box-window {
    border-width: 1px;
    border-style: solid;
    border-right: none;
    border-bottom: none;
}
.page-play .box-body .box-left .box-window .box-window-border {
    border-right: none;
    border-bottom: none;
    background: #fff;
    border: #ddd solid 1px;
    box-shadow: 0 4px 4px #ddd;
}
.page-play .box-body .box-left .box-lrc-action {
    margin-top: 10px;
}
.page-play .box-body .box-left .box-window .lrc {
    color: #EEE;
    font: 12px/1.5 Tahoma,Helvetica,\5FAE\8F6F\96C5\9ED1,sans-serif;
}
.page-play .box-body .box-left .box-window .lrc p {
    height: 36px;
    font-size: 20px;
    line-height: 36px;
}
.page-play .box-body .box-left .box-window .lrc p.current {
    font-weight: bold;
}
.page-play .box-body .box-right {
    width: 417px;
    overflow: hidden;
}
.page-play .box-body .box-right .summary {
    width:375px;
    height:352px;
}
.page-play .box-body .box-right .summary .content {
    padding-top: 0;
}
.page-play .box-body .box-right .summary .content a {
    float: left;
    display: block;
    padding: 3px 5px;
    background: #EEE;
    color: #555;
    border: 1px solid #E7E4E2;
    margin: 0 15px 10px 0;
    width: 345px;
    height: 21px;
    line-height: 21px;
    overflow: hidden;
}
.page-play .box-body .box-right .summary .content a:hover {
    background: #dfdfdf;
}
.page-play .box-body .box-right .summary .content {
    width: 100%;
}
.page-play .box-body .box-right .summary .song-author {
  float: right;
  padding-top: 10px;
}
.page-play .box-body .box-right .tags {
    padding: 5px 10px;
    width: 400px;
}
.page-play .box-body .box-right .tags h3 {
    color: #999;
}
.page-play .box-body .box-right .tags a {
    margin-left: 5px;
    white-space: nowrap;
}
.page-play .history {
    width: 900px;
}
.page-play .history .history-title {
    width: 100%;
}
.page-play .history .history-content {
    width: 100%;
    background: #fff;
}
.page-play .history .history-content span {
    float: left;
    background: #DCECFC;
    margin: 0 0 10px 10px;
    padding: 4px 6px;
    font-size: 13px;
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
    border-radius: 5px;
    white-space: nowrap;
}
.page-play .comment {
    width: 900px;
}
.common-flowers-bg {
    padding-bottom: 20px;
}
.foot {
    margin: 0 auto 20px auto;
    text-align: center;
    color: #999;
}